.app {
  height: 100vh;
  color: #000000;
}

.content {
  max-width: 1000px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 5rem 0;
}

.search-panel  {
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 4px;
  background-color: #FDFCFA;
  box-shadow: 7px 10px 5px rgba(0, 0, 0, 0.17);
  border: 1px solid black;
}
